.header {
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-icon {
  font-size: 30px;
  margin-left: 20px;
}
.my-orders-text {
  font-size: 20px;
}
